/* Universal Styling */
:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  

  transition: all 0.3s ease-in-out;
  /* debugging  */
  /* border: 1px solid red; */

};

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
}

ul {
  text-decoration: none;
  list-style: none;
}

.link {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Barlow', sans-serif;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
  padding: 20px;
  height: 200px;
}

.navbar-links {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.navbar-links a {
  text-decoration: none;
  color: rgb(85, 46, 0);
  font-weight: bold;
  font-size: 20px;
}


#progLogo {
  margin-right: 20px;
  width: 200px;
  height: 200px;
}


/* Home Page */

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  position: relative;
  height: 700px; /* Adjust the height as needed */
  width: 100%;
  color: #ffffff; /* Text color */
  text-shadow: 2px 2px black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Poly.jpg");
  background-size: cover;
  backdrop-filter: blur(8px); /* Apply the blur filter to the background */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/Poly.jpg");
  background-size: cover;
  filter: blur(8px); /* Apply the blur filter to the pseudo-element */
  -webkit-filter: blur(8px);
  z-index: -1;
}

#progLogoHero {
  margin-right: 20px;
  width: 500px;
  height: 500px;
  filter: none;
}

.hero-head {
  margin-top: -60px;
  font-size: 40px;
}



.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 4;
}

#standings {
  margin-left: 20px;
  padding: 20px;
  clear: both;
  float: left;
  text-align: center;
  width: 30%;
}

/* Standings Table */

.table {
  border-collapse: collapse;
  width: fit-content;
}

.table-head {
  text-align: left;
}

.table-header {
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:nth-child(odd) {
  background-color: #ffffff;
}

.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.table-cell {
  text-align: center;
}
